[user]
	name = Evan Brim
	email = evanbrim84@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
  # lists this list :-)
  aliases = !git config -l | findstr 'alias'      
  
  #create a new branch
  create = checkout -b

  #delete branch 
  delete = branch -D

  # git fetch with prune
  down = fetch --prunez

  #git fetch with prune follwed by a pull
  downall = !git fetch --all --prune && git pull --all

  # git history list of last 10 changes
  hist = "!f(){ git --no-pager log --max-count=10 --pretty=oneline; };f"

  # git history list of last X changes    
  histx = "!f(){ git --no-pager log --max-count=$1 --pretty=oneline; };f"

  #list branches
  lb = branch
  lball = branch --all

  pfl = push --force-with-lease

  # push new local branch
  pushorigin = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"

  # adds changes and commits
  quickcommit = !git add . && git commit

  # commits change as work in progress
  wip = !git add . && git commit -m "WIP"
[core]
	editor = code --wait
[color "branch"]
  remote = blue bold
  current = green bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = cyan bold

[color "diff"]
  old = red bold

[fetch]
	prune = true
[pager]
	branch = false
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
