[user]
	name = Evan Brim
	email = evanbrim84@gmail.com
[alias]
  # lists this list :-)
  aliases = !git config -l | findstr 'alias'      
  
  #create a new branch
  create = checkout -b

  #delete branch 
  delete = branch -D

  # git fetch with prune
  down = fetch --prune

  #git fetch with prune follwed by a pull
  downall = !git fetch --all --prune && git pull --all

  # git history list of last 10 changes
  hist = "!f(){ git hist --max-count=10; };f"

  # git history list of last X changes    
  histx = "!f(){ git hist --max-count=$1; };f"

  #list branches
  lb = branch
  lball = branch --all

  pfl = push --force-with-lease

  # push new local branch
  pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"

  # adds changes and commits
  save = !git add . && git commit

  # commits change as work in progress
  wip = !git add . && git commit -m "WIP"
     
[core] 
	editor = code-insiders --wait

[color "branch"]
  remote = blue bold
  current = green bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = cyan bold

[color "diff"]
  old = red bold

[fetch]
	prune = true